<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestor de pruebas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header> Tus colección de pruebas </ion-list-header>

    <ion-item *ngFor="let card of playerCards$ | async" (click)="this.router.navigateByUrl('/card-form', { replaceUrl: true })">
      <ion-avatar slot="start">
        <img src="assets/cards/icons8-chili-pepper-100.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{card.type}}</h2>
        <h3>{{card.cardName}}</h3>
        <p>{{card.cardDescription}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
