<ion-header>
  <ion-toolbar>
    <ion-title>selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ 'selection.player1' | translate }}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <form [formGroup]="formControlPlayer1">
        <ion-item lines="full">
          <ion-label position="floating">{{ 'selection.name1' | translate }}</ion-label>
          <ion-input type="text" required formsControlName="username"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ 'selection.player2' | translate }}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <form [formGroup]="formControlPlayer2">
        <ion-item lines="full">
          <ion-label position="floating">{{ 'selection.name2' | translate }}</ion-label>
          <ion-input type="text" required formsControlName="username"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
