<ion-header>
  <ion-toolbar>
    <ion-title>selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ 'selection.player1' | translate }}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <form [formGroup]="formControlPlayer1">
        <ion-item lines="full">
          <ion-label position="floating">{{ 'selection.name1' | translate }}</ion-label>
          <ion-input type="text" required formsControlName="username"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ 'selection.player2' | translate }}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <form [formGroup]="formControlPlayer2">
        <ion-item lines="full">
          <ion-label position="floating">{{ 'selection.name2' | translate }}</ion-label>
          <ion-input type="text" required formsControlName="username"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ 'selection.options' | translate }}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <form [formGroup]="formControlOptions">
        <ion-item lines="full">
          <ion-label position="floating">{{ 'selection.maze' | translate }}</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">Random</ion-select-option>
            <ion-select-option value="blonde">Soft</ion-select-option>
            <ion-select-option value="black">Hard</ion-select-option>
            <ion-select-option value="red">Bondage</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">{{ 'selection.time' | translate }}</ion-label>
          <ion-range min="20" max="60" step="10" value="20" snaps>
            <ion-icon slot="end" name="alarm"></ion-icon>
          </ion-range>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block" (click)="login()">{{ 'selection.play' | translate }}</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
