<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button (click)="this.router.navigateByUrl('/selection', { replaceUrl: true })">
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>{{ 'menu.play' | translate }}</ion-label>
        </ion-item>
        <ion-item button (click)="this.router.navigateByUrl('/selection', { replaceUrl: true })">
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label >{{ 'menu.pref' | translate }}</ion-label>
        </ion-item>
        <ion-item button (click)="this.router.navigateByUrl('/selection', { replaceUrl: true })">
          <ion-icon name="construct" slot="start"></ion-icon>
          <ion-label>{{ 'menu.conf' | translate }}</ion-label>
        </ion-item>
        <ion-item button (click)="this.router.navigateByUrl('/deck-menu', { replaceUrl: true })">
          <ion-icon name="construct" slot="start"></ion-icon>
          <ion-label>{{ 'menu.deck' | translate }}</ion-label>
        </ion-item>
        <ion-item button (click)="this.router.navigateByUrl('/card-menu', { replaceUrl: true })">
          <ion-icon name="construct" slot="start"></ion-icon>
          <ion-label>{{ 'menu.card' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header *ngIf='isAuthenticated()'>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inbox</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
