<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="ready">
      <img src="assets/decks/icons8-chili-pepper-100.png" />
      <ion-card-header>
        <ion-card-subtitle>
          <ion-item lines="full">
            <ion-label position="floating">{{ 'deckForm.name' | translate }}</ion-label>
            <ion-input type="text" name="name" ngDefaultControl required [(ngModel)]="deck.name"></ion-input>
          </ion-item>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-item lines="full">
            <ion-label position="floating">{{ 'deckForm.category' | translate }}</ion-label>
            <ion-select [compareWith]="compareWith" *ngIf="this.deck.category && this.categoryList.length>0" 
              name="categori" [(ngModel)]="deck.category" ngDefaultControl>
              <ion-select-option  *ngFor="let c of categoryList" [value]="c">{{c.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="full">
          <ion-label position="floating">{{ 'deckForm.description' | translate }}</ion-label>
          <ion-input type="text" name="desc" ngDefaultControl required [(ngModel)]="deck.description"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="save()" color="primary">
        <ion-icon name="save"></ion-icon>  
      </ion-fab-button>
    </ion-fab>
</ion-content>
