<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="ready">
    <img src="assets/cards/icons8-chili-pepper-100.png" />
    <ion-card-header>
      <ion-card-subtitle>{{ (card$ | async)?.category.name }}</ion-card-subtitle>
      <ion-card-title>{{ (card$ | async)?.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ (card$ | async)?.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
